<!DOCTYPE html>
<html>
<head>
  <title>Kate and Elliott are getting married!</title>
  <link href='http://fonts.googleapis.com/css?family=Josefin+Sans:400,600|Shadows+Into+Light' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <header><div>
    <%= image_tag 'kate-and-elliott.jpg' %>
    <h2>are getting married!</h2>
    <h3>May 12, 2012<br/>Newport News, Virginia</h3>
  </div></header>

  <nav>
    <ul>
      <li class="home left"><h1>Kate &amp; Elliott</h1></li>
      <li data-menu-id="the-wedding" class="link">Wedding</li>
      <li data-menu-id="the-party" class="link">Party</li>
      <li data-menu-id="the-trip" class="link">Trip</li>
      <li data-menu-id="the-spot" class="link">Spot</li>
      <li data-menu-id="rsvp" class="link">RSVP</li>
    </ul>
  </nav>
  
  <div id="content">
    <%= yield %>
  </div>
  
  <footer></footer>

</body>
</html>

<script type="text/javascript" charset="utf-8">
  $('nav').menu();
</script>
